attrs
Automat
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
constantly
cryptography
cssselect
decorator
defusedxml
filelock
future
geocoder
geographiclib
geopy
greenlet
hyperlink
idna
incremental
itemadapter
itemloaders
jmespath
lxml
packaging
parsel
Protego
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
PyDispatcher
pyOpenSSL
queuelib
ratelim
Scrapy
service-identity
six
soupsieve
SQLAlchemy
tldextract
tomli
Twisted
twisted-iocpsupport
typing_extensions
urllib3
w3lib
zope.interface
python-dotenv
